.tp-caption {
  text-shadow: 1px 1px 1px black;
}

.rev_slider li.slide-overlay .slotholder:after {
  opacity: 0.4;
  background: #424242;
}

/* Estilos de los selectores de color del configurador */
* {
  touch-action: manipulation;
}

input[type='radio'] {
  display: none;
}
input[type='radio']:checked + label span {
  transform: scale(1.25);
  outline: 2px solid #000000;
  outline-offset: 2px;
}

label {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border: 1px solid #000;
}
/* label span.red {
  background: #db2828;
}
label span.orange {
  background: #f2711c;
}
label span.yellow {
  background: #fbbd08;
} */

/* Container del Modelador 3D */
#c {
  width: 100%;
  height: 30em;
  display: block;
  overflow: hidden;
}